<div class="container text-center"><br>
  <div class="row">
    <h2>Select Your Role</h2> 
    <div class="col-sm-6"><br>
      <%= link_to "User", login_path, class: "btn btn-primary" %> 
    </div>
    <div class="col-sm-6"><br>
      <%= link_to "Admin", new_admin_session_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>  